html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#testColor {
    position: absolute;
    top: 70px;
    left: 2%;
    color: rgb(56, 199, 51);
    font-size: 20px;
}

/* Drop and Score */
#sugarCounter {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}

#scoreCounter {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}

#dropCounter {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}

/* Drop and Make Cookie Buttons*/
.count-label {
    font-size: 16px;
    color: #eeeeee;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 50%;
}

.dropCookieContainer {
    position: relative;
    /* Make the container a positioning context */
    display: flex;
    bottom: 120px;
    left: 65%;
    justify-content: space-between;
    align-items: center;
}

#dropCookieButton {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookieCounter {
    position: absolute;

    bottom: 130px;
    left: 50%;
    color: white;
    font-size: 20px;
}

.makeCookieContainer {
    position: relative;
    /* Make the container a positioning context */
    display: flex;
    bottom: 120px;
    left: 35%;
    justify-content: space-between;
    align-items: center;
}

#makeCookieButton {
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Counter Labels */



/* Debug buttons */
#wallButton {
    position: absolute;
    top: 100px;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bigPushButton {
    position: absolute;
    bottom: 20px;
    top: 200px;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropCupcakeContainer {
    position: absolute;
    left: 5%;
    /* Adjust the left position as needed */
    bottom: 30%;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center horizontally within the container */
}

#dropCupcakeButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cupcakeCount {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    /* Add some space between the button and count label */
}

.dropDonutContainer {
    position: absolute;
    right: 5%;
    /* Adjust the left position as needed */
    bottom: 30%;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center horizontally within the container */
}

#dropDonutButton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#donutCount {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

#dropPieButton {
    position: absolute;
    bottom: 20px;
    bottom: 20%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pieCounter {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    font-size: 20px;
}

#dropChocolateBarButton {
    position: absolute;
    bottom: 20px;
    bottom: 20%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chocolateCounter {
    position: absolute;
    bottom: 25%;
    right: 5%;
    color: white;
    font-size: 20px;
}

#dropColaButton {
    position: absolute;
    bottom: 20px;
    bottom: 10%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#dropCakeButton {
    position: absolute;
    bottom: 20px;
    bottom: 10%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


#toggleCameraLockButton {
    position: absolute;
    bottom: 20px;
    bottom: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}