html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
#testColor {
    position: absolute;
    top: 70px;
    left: 2%;
    color: rgb(56, 199, 51);
    font-size: 20px;
}
/* Drop and Make Cookie Buttons*/
#dropCookieButton {
    position: absolute;
    bottom: 20px;
    left: 65%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#makeCookieButton {
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Drop and Score */
#sugarCounter {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}
#scoreCounter {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}
#dropCounter {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}

/* Counter Labels */
#cookieCounter {
    position: absolute;
    top: 10px;
    left:2%;
    color: white;
    font-size: 20px;
}
#cupcakeCounter {
    position: absolute;
    top: 40px;
    left: 2%;
    color: white;
    font-size: 20px;
}
#donutCounter {
    position: absolute;
    top: 70px;
    left: 2%;
    color: white;
    font-size: 20px;
}

/* Debug buttons */
#wallButton {
    position: absolute;
    bottom: 20px;
    top: 100px;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bigPush {
    position: absolute;
    bottom: 20px;
    top: 200px;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dropCupcakeButton {
    position: absolute;
    bottom: 20px;
    bottom: 30%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dropDonutButton {
    position: absolute;
    bottom: 20px;
    bottom: 30%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dropPieButton {
    position: absolute;
    bottom: 20px;
    bottom: 20%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pieCounter {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    font-size: 20px;
}
#dropChocolateBarButton {
    position: absolute;
    bottom: 20px;
    bottom: 20%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chocolateCounter {
    position: absolute;
    bottom: 25%;
    right: 5%;
    color: white;
    font-size: 20px;
}
#dropColaButton {
    position: absolute;
    bottom: 20px;
    bottom: 10%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#dropCakeButton {
    position: absolute;
    bottom: 20px;
    bottom: 10%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


#toggleCameraLockButton {
    position: absolute;
    bottom: 20px;
    bottom: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}